body {
  background: url(https://get.wallhere.com/photo/sunlight-white-green-blue-simple-gradient-underwater-texture-circle-lens-flare-light-wave-line-computer-wallpaper-105524.jpg);
}

.btn-group-vertical {
  margin-left: 100px;
}
h2 {
  text-align: center;
  margin-top: 20px;
  color: #ebebeb;
}
.btn-group {
  padding: 120px;
  left: 20px;
}
.sidebar {
  height: 100%;
  width: 230px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffcc80;
  border-right: 4px solid white;
}

.sidebar div {
  padding: 8px;
  font-size: 24px;
  display: block;
}

.body-text {
  margin-left: 150px;
  font-size: 18px;
}
.btn-secondary {
  width: 160px;
  margin-top: 40px;
  height: 70px;
  left: 10px;
}

h4 {
  position: absolute;
  width: 136px;
  height: 45px;
  left: 375px;
  top: 65px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: white;
}
.potato {
  position: absolute;
  width: 103px;
  height: 85px;
  left: 260px;
  top: 34px;
}
.circle {
  fill: #456bd9;
  stroke: #0f1c3f;
  stroke-width: 0.1875em;
}
.today {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  left: 280px;
  position: absolute;
  width: 470px;
  height: 250px;
  top: 200px;
}
.caption {
  padding: 10px;
  color: white;
  background: #8fd4c1;
  text-align: center;
  caption-side: top;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
th {
  background: #bcebdd;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}
th,
td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
th:first-child,
td:first-child {
  text-align: left;
}
th:first-child {
  border-top-left-radius: 2px;
}
th:last-child {
  border-top-right-radius: 2px;
  border-right: none;
}
td {
  padding: 10px 20px;
  background: #f8e391;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 2px;
}
tr:last-child td:last-child {
  border-radius: 0 0 2px 0;
}
tr td:last-child {
  border-right: none;
}
.td-circle {
  padding: 10px 43px;
}
.week {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: "float:left;";
  left: 850px;
  position: absolute;
  width: 670px;
  height: 250px;
  top: 200px;
}
.caption {
  padding: 10px;
  color: white;
  background: #8fd4c1;
  text-align: center;
  caption-side: top;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.th-week {
  background: #bcebdd;
  color: white;
  text-shadow: 0 1px 1px #2d2020;
  padding: 10px 20px;
}
.th-week,
.td-week {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: white;
}
.th-week:first-child,
.td-week:first-child {
  text-align: left;
}
.th-week:first-child {
  border-top-left-radius: 2px;
}
.th-week:last-child {
  border-top-right-radius: 2px;
  border-right: none;
}
.td-week {
  padding: 10px 15px;
  background: #f8e391;
}
.tr-week:last-child .td-week:first-child {
  border-radius: 0 0 0 2px;
}
.tr-week:last-child .td-week:last-child {
  border-radius: 0 0 2px 0;
}
.tr-week .td-week:last-child {
  border-right: none;
}
.trafic {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  left: 280px;
  position: absolute;
  width: 470px;
  height: 250px;
  top: 600px;
}
.grafic1 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 400px;
  top: 45px;
}
.grafic2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 400px;
  top: 110px;
}
.grafic3 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 400px;
  top: 175px;
}
.grafic4 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 400px;
  top: 235px;
}
.academic-performance {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 14px;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  left: 800px;
  position: absolute;
  width: 470px;
  height: 250px;
  top: 600px;
}
